services:
  app:
    user: "${UID}:${GID}"
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      NODE_ENV: development
      TS_NODE_PROJECT: tsconfig.json
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
    command: npm run start:dev
